spring.datasource.url=jdbc:postgresql://localhost:5432/online_store
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=create
spring.jpa.defer-datasource-initialization=true
spring.jpa.show-sql=true
spring.jpa.database=postgresql
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

spring.sql.init.mode=always

spring.freemarker.enabled=true
spring.freemarker.suffix=.ftlh
spring.freemarker.template-loader-path=classpath:/templates/
spring.freemarker.expose-request-attributes=true

logging.level.web=DEBUG