body, html {
    height: 100%;
}

.bg {
    background: rgb(248,249,250);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(224,245,241,1) 100%);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.navbar-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
}

.user-email-text {
    font-style: italic;
    color: rgb(111, 233, 233);
    font-size: 1rem;
}

.category_text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.category_image {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
}

.category_title {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
}
